@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* CSS Variables */
:root {
  /* Colors */
  --primary-color: #b88e2f;
  --secondary-color: #d0a33a;
  --border-color: #fff3e3;
  --primary-background-color: #fff3e3;
  --secondary-background-color: #fff3e3;
  --tertiary-background-color: #fcf8f3;
  --background-dark-grey: #191d2b;
  --white-color: #fff;
  --font-dark-color: #333333;
  --font-dark-color-2: #666;

  /* Font Sizes */
  --font-size-normal: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2.5rem;
}

/* Global Styles */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

/* Header & Navigation */
header {
  position: sticky;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: var(--white-color);
}

/* Navigation Bar */
nav {
  justify-content: space-between;
  padding: 0 4.5rem;
  width: 100%;
}

/* Logo */
.navLogo {
  gap: 1rem;
}

.navLogo img {
  width: 50px;
}

.navLogo h1 {
  font-size: var(--font-size-large);
}

/* Navigation Links */
.navNavigation {
  gap: 1rem;
}

.navNavigation a {
  color: var(--font-dark-color);
  text-decoration: none;
  font-size: var(--font-size-normal);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.navNavigation a:hover {
  color: var(--primary-color);
}

.navNavigation ul {
  gap: 2.5rem;
  max-width: 100%;
  list-style: none;
}

/* Navigation Icons */
.navIcons {
  gap: 1.5rem;
}

.navIcons img {
  font-size: 1.5rem;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle img {
  width: 30px;
}

/* Main Section */
main {
  flex-direction: column;
}

/* Hero Section */
.heroSection {
  width: 100%;
  height: 70vh;
  background: url(./assets/hero.jpg) no-repeat center center/cover;
  position: relative;
  justify-content: flex-start;
  padding: 20px;
}

/* Hero Card - Dynamic Positioning */
.heroCard {
  width: 90%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 10%;
  padding: 2rem;
  background: var(--primary-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease-in-out;
}

.heroCard:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.015);
}

/* Hero Card Text */
.heroCard p {
  color: var(--font-dark-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  letter-spacing: 2px;
}

.heroCard h1 {
  font-size: var(--font-size-extra-large);
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 3px;
}

/* Hero Button */
.heroBtn {
  display: inline-flex;
  padding: 1.1rem 2.2rem;
  margin-top: 1.5rem;
  gap: 10px;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-medium);
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  width: 220px;
  transition: all 0.6s ease-in-out;
}

.heroBtn:hover {
  background: var(--secondary-color);
  border-radius: 5px;
}

/* Hero Description */
#heroDesc {
  font-size: var(--font-size-medium);
  font-weight: 400;
  color: var(--font-dark-color);
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Browse Section */
.browseSection,
.ourProductSection {
  width: 90%;
  margin-top: 2rem;
}

.ourProductSection {
  width: 100%;
  padding: 2rem 0;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem !important;
  color: var(--primary-color);
}

/* Browse Section Header */
.browseHeader,
.ourProductSectionHeader,
.contactUsHeader,
.testimonialSectionHeader {
  text-align: center;
}

.browseHeader h1,
.ourProductSectionHeader h1,
.contactUsHeader h1,
.testimonialSectionHeader h1 {
  font-size: var(--font-size-large);
  color: var(--font-dark-color);
  font-weight: 700;
}

.browseHeader p,
.contactUsHeader p,
.testimonialSectionHeader p {
  color: var(--font-dark-color-2);
  text-align: center;
  font-size: var(--font-size-normal);
  font-weight: 500;
}

/* Browse Cards Container */
.browseCardContainer,
.ourProductSectionCardContainer {
  /* flex-wrap: wrap; */
  margin: 1.5rem 0;
  gap: 40px;
}

/* Browse Card */
.browseCard,
.ourProductCard {
  gap: 0.6rem;
  width: 260px;
  height: 400px;
  transition: all 0.6s ease-in-out;
}

.browseCard:hover,
.ourProductCard:hover {
  transform: scale(1.015);
}

.browseCard img:hover,
.ourProductCard img:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Browse Card Image */
.browseCard img,
.ourProductCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* Browse Card Text */
.browseCard p {
  color: var(--font-dark-color-2);
  font-size: var(--font-size-normal);
  font-weight: 500;
  text-align: center;
}

.ourProductSectionCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 0.5rem 1rem;
}

.ourProductCard {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  & h1 {
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--font-dark-color);
  }

  & p {
    color: var(--font-dark-color-2, #898989);
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: 400;
  }

  & .productDetails {
    position: relative;
    z-index: 1;
    background: var(--white-color);
    transition: opacity 0.3s ease-in-out;

    & .details {
      transform: translate(2%, 4%);
    }
  }

  & .price {
    font-size: var(--font-size-normal);
    font-weight: 400;
    color: var(--font-dark-color-2);
    text-decoration-line: line-through;
    padding-left: 6px;
  }
}

.ourProductCard:hover .productBuy {
  opacity: 1;
  border-radius: 6px;
}

.productBuy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  gap: 0.2rem;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.addToCart {
  width: 80%;
  background-color: var(--white-color);
  color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: var(--font-size-normal);
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  margin: 0 1rem;

  &:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
}

.productIconsContainer {
  padding: 0.4rem 0.6rem;
  flex-wrap: nowrap;
  gap: 0.8rem;

  .hoverIcon {
    padding: 0.2rem 0.4rem;
    color: rgb(215, 212, 212);
    font-size: var(--font-size-normal);
    transition: all 0.2s ease-in-out;

    & :hover {
      color: var(--white-color);
    }

    & p {
      color: rgb(215, 212, 212);
      font-weight: 400;
      font-style: normal;
    }
  }
}

.showMore {
  text-align: center;
  margin: 0.5rem 0;
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  padding: 0.3rem 1rem;
  border: 1px solid var(--primary-color);

  &:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
}

.contact-section {
  padding: 50px 10%;
  background: var(--white-color);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--white-color);
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-info {
  flex: 1;
  min-width: 300px;
  padding-right: 20px;
}

.contact-info h2 {
  font-size: var(--font-size-large);
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 14px;
  color: var(--font-dark-color-2);
  margin-bottom: 20px;
}

.info-box {
  margin-bottom: 15px;
}

.info-box i {
  font-size: 24px;
  color: #c79c42;
  margin-right: 15px;
}

.info-box h4 {
  font-size: var(--font-size-medium);
  margin-bottom: 3px;
}

.info-box p {
  font-size: var(--font-size-normal);
  color: var(--font-dark-color-2);
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: var(--font-size-normal);
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: var(--font-size-normal);
}

.contact-form button {
  padding: 12px;
  background: var(--primary-color);
  color: white;
  font-size: var(--font-size-medium);
  border: none;
  border-radius: 5px;
}

.contact-form button:hover {
  background: var(--secondary-color);
}

/* map */
.map {
  height: 400px;
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.testimonials {
  border-top: 1px solid rgba(0, 0, 0, 0.212);
  padding-top: 2rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1400px;
  margin-top: 1rem;
  background: var(--primary-background-color);
}

.testimonial-card {
  background: var(--secondary-background-color);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

.quote {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.testimonial-card p {
  margin-bottom: 2rem;
  font-style: italic;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.client-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.client-info h4 {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.client-info span {
  color: #666;
  font-size: 0.9rem;
}

.room-inspiration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  gap: 10px;
}

.content {
  max-width: 400px;
}

.content h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #c79c42;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}

.btn:hover {
  background: #b28738;
}

/* Swiper Slider */
.slider-container {
  flex: 1;
  position: relative;
  max-width: 500px;
}

.swiper {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  border-radius: 5px;
}

.slide-info span {
  font-size: 12px;
  color: #666;
}

.slide-info h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
  color: #c79c42;
}

.swiper-pagination-bullet {
  background: #c79c42;
}

/* Footer section */
footer {
  width: 100%;
  background-color: white;
  color: var(--white-color);
  border-top: 1px solid rgba(0, 0, 0, 0.084);
}

.footerContainer {
  justify-content: space-evenly;
  align-items: start;
  gap: 2rem;
  width: 100%;
  height: 100%;
  align-items: start;
  padding: 3rem 3rem 0 3rem;
}

.footerAddress {
  align-items: start;
  gap: 0.5rem;
}

.footerAddress h2 {
  font-size: var(--font-size-large);
  font-weight: 700;
  font-style: normal;
  color: var(--font-dark-color);
}

.address p {
  font-size: var(--font-size-normal);
  font-weight: 400;
  font-style: normal;
  color: var(--font-dark-color-2);
}

.footerLinks,
.footerHelp,
.footerNewsletter {
  gap: 2rem;
}

.footerLinks h2,
.footerHelp h2,
.footerNewsletter h2 {
  font-size: var(--font-size-normal);
  font-weight: 500;
  font-style: normal;
  color: var(--font-dark-color-2);
}

.footerLinks ul,
.footerHelp ul {
  list-style: none;
  gap: 2rem;
}

.footerLinks li,
.footerHelp li {
  font-size: var(--font-size-normal);
  font-weight: 600;
  font-style: normal;
  color: var(--font-dark-color);
}

.footerLinks a,
.footerHelp a {
  text-decoration: none;
}

.footerLinks li:hover,
.footerHelp li:hover {
  color: var(--primary-color);
}

.footerNewsletter form {
  gap: 0.8rem;
}

.footerNewsletter input {
  padding: 0.4rem 1rem;
  border: 1px solid var(--font-dark-color-2);
  border-radius: 5px;
  font-size: var(--font-size-normal);
  outline: none;
}

.footerNewsletter input::placeholder {
  color: var(--font-dark-color-2);
}

.footerNewsletter input:focus {
  border: 2px solid black;
}

.footerNewsletter button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  font-size: var(--font-size-normal);
  border: none;
}

.footerNewsletter button:hover {
  background-color: var(--secondary-color);
}

.footerCopyright {
  padding: 1.5rem 5rem;
}

.seperator {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.084);
  margin: 1.5rem 0;
}

.footerCopyright p {
  font-size: var(--font-size-normal);
  font-weight: 400;
  font-style: normal;
  color: var(--font-dark-color);
  padding-left: 40px;
}

/* responsiveness */
/* Existing CSS remains the same until the media queries */

/* Medium screens (tablets, 768px - 1024px) */
@media (max-width: 1024px) {
  :root {
    --font-size-normal: 0.9rem;
    --font-size-medium: 1.1rem;
    --font-size-large: 1.3rem;
    --font-size-extra-large: 2rem;
  }

  /* Header adjustments */
  header {
    height: 80px;
  }

  nav {
    padding: 0 2rem;
  }

  .navLogo img {
    width: 40px;
  }

  .navLogo h1 {
    font-size: var(--font-size-large);
  }

  .navNavigation ul {
    gap: 1.5rem;
  }

  .navIcons {
    gap: 1rem;
  }

  /* Hero Section adjustments */
  .heroSection {
    height: 70vh;
  }

  .heroCard {
    width: 50%;
    max-width: 400px;
    /* transform: translate(-50%, -50%); */
    padding: 1.5rem;
  }

  /* Browse Section adjustments */
  .browseCardContainer {
    gap: 20px;
  }

  .browseCard {
    width: 200px;
    height: 300px;
  }

  /* Our Product Section adjustments */
  .ourProductSectionCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .ourProductCard {
    width: 250px;
    height: 350px;
  }

  /* Room Inspiration adjustments */
  .room-inspiration {
    flex-direction: column;
    text-align: center;
  }

  /* Testimonials adjustments */
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /* Contact Section adjustments */
  .contact-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    min-width: 100%;
    padding: 0;
  }

  /* Footer adjustments */
  .footerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerAddress,
  .footerLinks,
  .footerHelp,
  .footerNewsletter {
    align-items: center;
  }
}

/* Small screens (phones, less than 768px) */
@media (max-width: 768px) {
  :root {
    --font-size-normal: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-extra-large: 1.8rem;
  }

  /* Header adjustments */
  header {
    height: 60px;
  }

  nav {
    padding: 0 1rem;
  }

  .navLogo img {
    width: 30px;
  }

  .navLogo h1 {
    font-size: var(--font-size-large);
  }

  .navNavigation ul {
    gap: 1rem;
  }

  .navIcons {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  /* Hero Section adjustments */
  .heroSection {
    height: 50vh;
  }
  
  .heroCard {
    width: 90%;
    max-width: 350px;
    padding: 1rem;
  }
  
  .heroCard h1 {
    font-size: 1.5rem !important;
  }
  
  .heroBtn {
    width: 100%;
    padding: 0.8rem;
  }

  /* Browse Section adjustments */
  .browseCardContainer {
    flex-direction: column;
    gap: 10px;
  }

  .browseCard {
    width: 100%;
    height: 200px;
  }

  /* Our Product Section adjustments */
  .ourProductSectionCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .ourProductCard {
    width: 200px;
    height: 300px;
  }

  .content h2 {
    font-size: 24px;
  }

  .content p {
    font-size: 12px;
  }

  .btn {
    padding: 10px 15px;
  }

  /* Testimonials adjustments */
  .testimonials-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .testimonial-card {
    padding: 1rem;
  }

  .client-info img {
    width: 50px;
    height: 50px;
  }

  .client-info h4 {
    font-size: 1rem;
  }

  .client-info span {
    font-size: 0.8rem;
  }

  /* Contact Section adjustments */
  .contact-section {
    padding: 30px 5%;
  }

  .contact-container {
    padding: 20px;
  }

  .contact-info h2 {
    font-size: var(--font-size-large);
  }

  .contact-info p {
    font-size: 12px;
  }

  .info-box i {
    font-size: 20px;
  }

  .info-box h4 {
    font-size: var(--font-size-medium);
  }

  .info-box p {
    font-size: var(--font-size-normal);
  }

  .contact-form input,
  .contact-form textarea {
    padding: 8px;
    font-size: var(--font-size-normal);
  }

  .contact-form button {
    padding: 10px;
    font-size: var(--font-size-medium);
  }

  /* Footer adjustments */
  .footerContainer {
    padding: 2rem 1rem;
  }

  .footerAddress h2 {
    font-size: var(--font-size-large);
  }

  .address p {
    font-size: var(--font-size-normal);
  }

  .footerLinks h2,
  .footerHelp h2,
  .footerNewsletter h2 {
    font-size: var(--font-size-normal);
  }

  .footerLinks ul,
  .footerHelp ul {
    gap: 1rem;
  }

  .footerLinks li,
  .footerHelp li {
    font-size: var(--font-size-normal);
  }

  .footerNewsletter input {
    padding: 0.3rem 0.8rem;
    font-size: var(--font-size-normal);
  }

  .footerNewsletter button {
    padding: 0.4rem 0.8rem;
    font-size: var(--font-size-normal);
  }

  .footerCopyright {
    padding: 1rem 2rem;
  }

  .footerCopyright p {
    font-size: var(--font-size-normal);
  }
}

#shashank{
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}